<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="components.css" />
    <title>Dog Adoption Agency</title>
  </head>
  <body>
</html>
<body class="pagination">
  <button class="btn-small btn-small--left">
    <ion-icon class="btn-icon" name="chevron-back-outline"></ion-icon>
  </button>
  <a href="#" class="number page-link--current" id="1">1</a>
  <a href="#" class="number" id="2">2</a>
  <a href="#" class="number" id="3">3</a>
  <a href="#" class="number" id="4">4</a>
  <a href="#" class="number" id="5">5</a>
  <button class="btn-small btn-small--right">
    <ion-icon class="btn-icon" name="chevron-forward-outline"></ion-icon>
  </button>
  <script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
</body>
</div>
